link(rel='stylesheet', href='/stylesheets/about.css')

div.container-fluid
  div.row-fluid
    span.span12
      div.row-fluid
        span.span12
          div.container-fluid
            h1.heading.pull-center Shane Skikne and Greg Edelston
          p.pull-center.pull-center-1
            span Shane and Greg got their start at Olin College of Engineering. They are particularly passionate about friendship, cats, and good robits.
          p.pull-center.pull-center-1
            span
              | Shane is from Massachusetts and is majoring in...engineering or something. He is known for his brown hair&nbsp;and average fashion sense.&nbsp;He can name every letter in alphabet and counted to 117&nbsp;once. In his free time, he builds websites about
              | children's songs.
          p.pull-center.pull-center-1
          p.pull-center.pull-center-1
            span Greg is from Connecticut.
          p.pull-center.pull-center-1 