link(rel='stylesheet', href='/stylesheets/about.css')

div.row-fluid
    span.span12
      div.row-fluid
        span.span12
      h1.heading.pull-center(style="text-align: center;color: #0f4980;") We can be reached by:
      h4.heading.pull-center(style="font-size: 20px;text-align: center") Emailing us at our email addresss
      h4.heading.pull-center(style="font-size: 20px;text-align: center") Calling us at our phone number
      h4.heading.pull-center(style="font-size: 20px;text-align: center") Sending us a letter at our address
      marquee(behavior="alternate", style="font-size: 20px") Faxing us from the 90's
      <iframe src="http://adultcatfinder.com/embed/" width="320" height="430" style="position:fixed;bottom:0px;right:10px;z-index:100" frameBorder="0"></iframe>

